.forum {
  min-height: 100vh;
  background-image: linear-gradient(90deg, rgba(239,215,191,.2)50%,rgba(239,215,191,1)), linear-gradient(270deg,rgba(239,215,191,.2)50%,rgba(239,215,191,1)), url("../images/branding/bg_left.png"), url("../images/branding/bg_right.png");
  background-position: top left, top right, top left, top right;
  background-repeat: repeat-y;
  background-size: 16vw;
}