.ReactTable .rt-tr {
  align-items: center;
}

.ReactTable {
  min-width: 360px;
  padding: 12px;
  border-radius: 10px;
  background-color: aliceblue;
}

.ReactTable .rt-table {
  overflow: unset;
}

.ReactTable .rt-thead.-header {
  position: -webkit-sticky;
  position: sticky;
  top: 66px;
  box-shadow: 0 0 black;
  background-color: aliceblue;
}

.ReactTable .rt-tbody .rt-tr-group {
   border-bottom: 0;
}

.ReactTable.-striped .rt-tr.-odd {
  border-radius: 10px;
  background: rgba(0,0,0,0.06);
}

.ReactTable.-striped .rt-tr.-even {
  border-radius: 10px;
}

.ReactTable .rt-tbody .rt-td:not(:first-child) {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .ReactTable {
    display: block;
  }
}
