.App {
  background-color: #EFD7BF;
}

@font-face {
  font-family: "Flexo Demi";
  src: local("Flexo Demi"), url("./assets/fonts/Flexo Demi.woff2") format("woff2");

}

@font-face {
  font-family: "Flexo Medium";
  src: local("Flexo Medium"), url("./assets/fonts/Flexo Medium.woff2") format("woff2");
}

body {
  font-family: "Flexo Medium", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

b {
  font-family: "Flexo Demi", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
  font-weight: 700;
}

.full-width {
  width: 100%;
  background-color: #EEF1EF;
  padding: 25px;
  border-radius: 15px;
}

.va-middle {
  vertical-align: middle;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: 1;
  border-radius: .2rem;
}

.white-shadow-text {
  color: white;
  text-shadow: #000 2px 4px 3px;
}

.fixed-header {
  position: fixed;
  width: 100%;
}

.fixed-header + * {
  margin-top: 63px;
  padding-top: 2rem;
}

.logo {
  height: 40px;
}

.home {
  justify-content: center;
  min-height: calc(100vh - 63px);
}

@media (min-width: 1400px) {
  .home {
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(239,215,191,.2)50%,rgba(239,215,191,1)), linear-gradient(270deg,rgba(239,215,191,.2)50%,rgba(239,215,191,1)), url("assets/images/branding/bg_left.png"), url("assets/images/branding/bg_right.png");
    background-position: top left, top right, top left, top right;
    background-repeat: repeat-y;
    background-size: 16vw;
  }
}

/*.autocomplete {*/
/*  position: relative;*/
/*  left: 20%;*/
/*  right: 20%;*/
/*}*/

.autocomplete .autocomplete-menu {
  /*position: absolute;*/
  z-index: 1000;
  padding: .5rem 0;
  /*width: 58%; */
  /*left: 1%;*/
  margin: 0 1%;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.autocomplete .autocomplete-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete .autocomplete-menu ul li {
  padding: 5px;
}

.autocomplete .autocomplete-option {
  cursor: pointer;
}

.autocomplete .autocomplete-option:hover {
  background-color: lightgrey;
}

.autocomplete input {
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 15px;
}

.autocomplete input:focus {
  outline: none;
}

.home-button {
  background-color: #EEF1EF;
  height: 120px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  text-shadow: #000 2px 4px 3px;
}

.home-button:hover {
  box-shadow: rgba(132, 67, 21, 0.3) 3px 3px 4px 0;
}

.tooltip-info {
  border-bottom: 1px dotted black;
}

.details {
  padding: 5px;
  background-color: rgba(190, 160, 145, 1);
  border-radius: 13px;
  margin-bottom: 10px;
}

.name {
  font-weight: 600;
  font-size: 36px;
}

.pokemon-info {
  font-weight: 700;
}

.portrait-small {
  width: 48px;
  height: 48px;
}

.move-icon {
  width: 100%;
  /*border: 3px solid deepskyblue;*/
  /*border-radius: 50%;*/
}

.preview-text {
  border-bottom: 1px solid cornflowerblue;
  cursor: pointer;
}

.move-cell {
  padding: 7px;
  width: 85px;
}

.move-text {
  padding: 10px;
}

.move-spacer {
  padding: 0 5px;
}

.skill-label {
  height: 20px;
}

.row.upgrade {
  border-top: 1px solid lightgray;
  margin-top: .5rem;
  padding-top: .5rem;
}

.attacks h3 {
  position: relative;
  margin-bottom: 0;
  background-color: #EEF1EF;
  width: max-content;
  border-radius: 10px 10px 0 0;
  padding: 0 5px;
}

.attack {
  padding: .3rem;
}

.attack td {
  vertical-align: top;
}

.jsx-parser {
  display: inline;
}

.upgrade-level {
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .1fr 1fr;
  gap: 0 0;
  background-color: #EEF1EF;
  box-shadow: rgba(132, 67, 21, 0.3) 3px 3px 4px 0;
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .grid-container {
    display: block;
  }
  .upgrade-2 {
    border-top: 1px solid lightgray;
  }
}

.basic, .passive, .unite {
  background-color: #EEF1EF;
  box-shadow: rgba(132, 67, 21, 0.3) 3px 3px 4px 0;
  margin-bottom: 5px;
}

.stats {
  height: 100%;
  align-items: center;
}

.col>.stat {
  border-radius: 5px;
  height: 50%;
  text-align: center;
  padding: 3px;
  background-color: rgba(255,255,255,.53);
}

@media (max-width: 690px) {
  .col>.stat {
    display: none;
  }
}

.base {
  grid-area: 1 / 1 / 2 / 5;
  border-bottom: 1px solid lightgray;
}
.upgrade-1 {
  grid-area: 2 / 1 / 2 / 2;
  border-right: 1px solid lightgray;
}
.upgrade-2 {
  grid-area: 2 / 2 / 3 / 3;
}


@media (min-width: 500px) {
  .container-small {
    width: 500px;
  }
  .container-large {
    width: 1170px;
  }
}
@media (min-width: 768px) {
  .container-small {
    width: 700px;
  }
  .container-large {
    width: 1500px;
  }
}

.container-small, .container-large {
  max-width: 100%;
}

.rt-tr-group {
  cursor: pointer;
}

.cooldown {
  vertical-align: middle !important;
  border-radius: 13px;
  background-color: rgba(0,0,0,0.15);
  width: max-content;
}

.move-type {
  vertical-align: middle !important;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.85);
  padding: 0 5px;
}

.hindrance, .debuff {
  color: #cc2de9;
}

.area, .ranged, .melee, .sure-hit {
  color: #ff2a7f;
}

.dash {
  color: #2bd8ff;
}

.buff {
  color: #fcad3b;
}

.recovery {
  color: #39e049;
}

.nav-pills {
  margin-bottom: 1rem;
}

.nav-pills .nav-link {
  color: #000;
}

.nav-pills .nav-link:hover {
  color: #000;
  background-color: rgba(190, 160, 145, .25);
}

.nav-pills .nav-link.active {
  color: #000;
  background-color: rgba(190, 160, 145, 1);
}

.panel {
  background-color: #EEF1EF;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.panel:hover {
  box-shadow: rgba(132, 67, 21, 0.3) 3px 3px 4px 0;
}

.panel-top {
  height: 120px;
}

.panel-bottom {
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.login-error {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.login-success {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #39e049;
}

.login-text {
  margin-top: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.held-item {
  display: flex;
  background-color: #EEF1EF;
  border-radius: 10px;
}

.battle-item {
  display: flex;
  background-color: #EEF1EF;
  border-radius: 70px 10px 10px 70px;
}

.item-description {
  width: 100%;
  padding-left: 1rem;
}
