.App {
  background-color: #EFD7BF;
}

@font-face {
  font-family: "Flexo Demi";
  src: local("Flexo Demi"), url("./assets/fonts/Flexo Demi.woff2") format("woff2");

}

@font-face {
  font-family: "Flexo Medium";
  src: local("Flexo Medium"), url("./assets/fonts/Flexo Medium.woff2") format("woff2");
}

body {
  font-family: "Flexo Medium", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

b {
  font-family: "Flexo Demi", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width: 500px) {
  .container-small {
    width: 500px;
  }
  .container-large {
    width: 1170px;
  }
}
@media (min-width: 768px) {
  .container-small {
    width: 700px;
  }
  .container-large {
    width: 1500px;
  }
}

.container-small, .container-large {
  max-width: 100%;
}
